<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--程序名称-->
    <add key="AppName" value="AutoUpdate.exe"/>
    <!--远程服务器的地址（HTTP）-->
    <add key="WebUri" value="127.0.0.1"/>
    <!--远程服务器的端口号-->
    <add key="WebPort" value="8088"/>
  </appSettings>
</configuration>